In [7]:
a = 'python'
b = 123
c = 1.2
d = ['a', 'b']
e = {'name':'haengwoo'}

In [1]:
a = 100 # 주석문

In [2]:
a

100

In [3]:
a, b = 'var1', 'var2'

In [4]:
a

'var1'

In [5]:
b

'var2'

In [7]:
c=('tuple1', 'tuple2')
d=['list1', 'list2']

print(a)
print(b)
print(c)
print(d)

var1
var2
('tuple1', 'tuple2')
['list1', 'list2']

In [9]:
a=10
b=3.14
c=True

print("a의 값은?", a)
print("a의 데이터 변수 형태는? :", type(a))
print("b의 값은?", b)
print("b의 데이터 변수 형태는? :", type(b))
print("c의 값은?", c)
print("c의 데이터 변수 형태는? :", type(c))

a의 값은? 10
a의 데이터 변수 형태는? : <class 'int'>
b의 값은? 3.14
b의 데이터 변수 형태는? : <class 'float'>
c의 값은? True
c의 데이터 변수 형태는? : <class 'bool'>

In [11]:
a=100
b=3.14
print(a)
print(b)
print(bin(a))
print(hex(a))
print(oct(a))

100
3.14
0b1100100
0x64
0o144

In [13]:
a=True
type(a)

bool

In [14]:
b=False
type(b)

bool

In [15]:
print(10 == 10)
print(10 != 10)
print(10 < 10)
print(10 > 10)
print(10 <= 10)
print(10 >= 10)

True
False
False
False
True
True

In [18]:
sentence = '안녕하세요. ' + '반갑습니다.'
sentence

'안녕하세요. 반갑습니다.'

In [19]:
sentence.split()

['안녕하세요.', '반갑습니다.']

In [20]:
sentence.find('반갑습니다')

7

In [21]:
sentence.replace('.', '!')

'안녕하세요! 반갑습니다!'

In [22]:
sentence.strip('안녕')

'하세요. 반갑습니다.'

In [23]:
data = [10, 20, 30, 40, 50, 60]
print(data)
print(type(data))

[10, 20, 30, 40, 50, 60]
<class 'list'>

In [24]:
print(data[0])
print(data[4])
print(data)
data[0] = data[4]
print(data)

10
50
[10, 20, 30, 40, 50, 60]
[50, 20, 30, 40, 50, 60]

In [26]:
data = ['사과', '배', '포도', '딸기', '토마토', '메론']
print(data)

print("리스트 인덱싱을 통해 하나의 값을 표현 : ", data[2])
print('리스트 슬라이싱을 통해 여러 값을 표현 : ', data[1:4])

['사과', '배', '포도', '딸기', '토마토', '메론']
리스트 인덱싱을 통해 하나의 값을 표현 :  포도
리스트 슬라이싱을 통해 여러 값을 표현 :  ['배', '포도', '딸기']

In [27]:
data_1 = [10, 20, 30, 40, 50]
data_2 = [5, 10, 15, 20, 25]

data_1 + data_2

[10, 20, 30, 40, 50, 5, 10, 15, 20, 25]

In [29]:
lists = [1, 100, 'python']
print(lists)
print(type(lists))
print()

lists.append('PY')
print("PY라는 값을 추가한 후의 lists : ", lists)

lists.insert(1, '0.5')
lists

[1, 100, 'python']
<class 'list'>

PY라는 값을 추가한 후의 lists :  [1, 100, 'python', 'PY']

[1, '0.5', 100, 'python', 'PY']

In [30]:
print(lists)
lists.remove('python')
print(lists)

[1, '0.5', 100, 'python', 'PY']
[1, '0.5', 100, 'PY']

In [31]:
data_list = [10, 20, 30, 40, 50, 60, 70]
print("최소값", min(data_list))
print("최대값", max(data_list))

최소값 10
최대값 70

In [32]:
data_list = [50, 20, 40, 30, 10, 60, 90]
data_list.sort()
print(data_list)

[10, 20, 30, 40, 50, 60, 90]

In [36]:
tuples = (1, 1000, '수학', 100, 100)
print(tuples[0])
print(tuples[2])
print(tuples[1])

1
수학
1000

In [37]:
tuples.count(100)

2

In [40]:
tuple1 = (1, 2, 3, 'a', 'b', 'c')
tuple1[:3]

(1, 2, 3)

In [41]:
tuple1[3:]

('a', 'b', 'c')

In [42]:
tuple2 = ('가', '나', '다')
tuple1 + tuple2

(1, 2, 3, 'a', 'b', 'c', '가', '나', '다')

In [43]:
tuple1 * 3

(1, 2, 3, 'a', 'b', 'c', 1, 2, 3, 'a', 'b', 'c', 1, 2, 3, 'a', 'b', 'c')

In [44]:
print(lists)

[1, '0.5', 100, 'PY']

In [45]:
lists.append('과학')
lists

[1, '0.5', 100, 'PY', '과학']

In [48]:
lists.insert(3, 'math')
lists # 동일 명령 3번 실행

[1, '0.5', 100, 'math', 'math', 'math', 'PY', '과학']

In [49]:
lists.remove('math')
lists

[1, '0.5', 100, 'math', 'math', 'PY', '과학']

# 조건문

In [50]:
a = 100
if a == 100:
    print('일치')
else:
    print('불일치')

일치

In [51]:
a = 1
while a <= 5:
    print(a)
    a += 1

1
2
3
4
5

In [52]:
num_list = [1, 2, 3, 4, 5]
for num in num_list:
    print(num)

1
2
3
4
5

In [53]:
def f(x):
    return x + 10

f(2)

12

In [54]:
dictionary = {
    'name' : '김행우',
    'Email' : 'haengwoo@me.com',
    'address' : 'hanam-si, KOREA'
}
type(dictionary)

dict

In [56]:
dictionary.keys()

dict_keys(['name', 'Email', 'address'])

In [57]:
dictionary.values()

dict_values(['김행우', 'haengwoo@me.com', 'hanam-si, KOREA'])

In [58]:
dictionary.items()

dict_items([('name', '김행우'), ('Email', 'haengwoo@me.com'), ('address', 'hanam-si, KOREA')])

In [59]:
for item in dictionary.items():
    print(item)

('name', '김행우')
('Email', 'haengwoo@me.com')
('address', 'hanam-si, KOREA')

In [1]:
set1 = set(['서울', '대구', '대전', '부산', '인천', '강원'])
set2 = set(['서울', '부산', '강원', '충청', '광주'])

print(set1.union(set2))
print(set1.intersection(set2))
print(set1.difference(set2))
print(set1.symmetric_difference(set2))

{'충청', '부산', '대전', '광주', '대구', '서울', '강원', '인천'}
{'서울', '부산', '강원'}
{'대구', '인천', '대전'}
{'충청', '대전', '광주', '인천', '대구'}

In [2]:
nup = [1.0, 10.4, 3.2, 5.1, 7.5, 2.7]
flotV = [nup, nup, nup]
flotV

[[1.0, 10.4, 3.2, 5.1, 7.5, 2.7],
 [1.0, 10.4, 3.2, 5.1, 7.5, 2.7],
 [1.0, 10.4, 3.2, 5.1, 7.5, 2.7]]

In [4]:
flotV[0]

[1.0, 10.4, 3.2, 5.1, 7.5, 2.7]

In [7]:
flotV[2]

[1.0, 10.4, 3.2, 5.1, 7.5, 2.7]

In [8]:
flotV[0] = 'Python'
flotV

['Python', [1.0, 10.4, 3.2, 5.1, 7.5, 2.7], [1.0, 10.4, 3.2, 5.1, 7.5, 2.7]]

In [4]:
import numpy as np
a = np.array([1, 2.5, 4.0, 5.5, 7.5])
a[3:]

array([5.5, 7.5])

In [11]:
a.sum()

20.5

In [12]:
a.std()

2.2671568097509267

In [13]:
a.cumsum()

array([ 1. ,  3.5,  7.5, 13. , 20.5])

In [14]:
print(a)
print(a*2)
print(a**2)
print(np.sqrt(a))

[1.  2.5 4.  5.5 7.5]
[ 2.  5.  8. 11. 15.]
[ 1.    6.25 16.   30.25 56.25]
[1.         1.58113883 2.         2.34520788 2.73861279]

In [16]:
b = np.array([a, a**2])
b

array([[ 1.  ,  2.5 ,  4.  ,  5.5 ,  7.5 ],
       [ 1.  ,  6.25, 16.  , 30.25, 56.25]])

In [17]:
b.sum(axis=0)

array([ 2.  ,  8.75, 20.  , 35.75, 63.75])

In [18]:
b.sum(axis=1)

array([ 20.5 , 109.75])

In [5]:
np.array([[0,0,0],[0,0,0]])

array([[0, 0, 0],
       [0, 0, 0]])

In [6]:
values = np.zeros((2,3), dtype='i')
values

array([[0, 0, 0],
       [0, 0, 0]], dtype=int32)

In [29]:
import pandas as pd
import numpy as np

pandas_series = pd.Series([3000,3200, 2700]
                          , index=['2016-11-10', '2016-11-11', '2016-11-12'])
print(type(pandas_series))
pandas_series

<class 'pandas.core.series.Series'>

2016-11-10    3000
2016-11-11    3200
2016-11-12    2700
dtype: int64

In [8]:
pandas_series[1:]

2016-11-11    3200
2016-11-12    2700
dtype: int64

In [28]:
import pandas as pd
import numpy as np

df = pd.DataFrame([100, 150, 200, 250, 300], columns=['numbers'],
                  index=['a', 'b', 'c', 'd', 'e'])
df

   numbers
a      100
b      150
c      200
d      250
e      300

In [10]:
df.index

Index(['a', 'b', 'c', 'd', 'e'], dtype='object')

In [11]:
df.columns

Index(['numbers'], dtype='object')

In [19]:
df.numbers['c']

200

In [35]:
df.ix['c']

AttributeError: 'DataFrame' object has no attribute 'ix'

In [22]:
df.sum()

numbers    1000
dtype: int64

In [23]:
df.numbers**2

a    10000
b    22500
c    40000
d    62500
e    90000
Name: numbers, dtype: int64

In [24]:
df['values'] = [10, 50, 40, 30, 60]

In [25]:
df

   numbers  values
a      100      10
b      150      50
c      200      40
d      250      30
e      300      60

In [27]:
df['values'] = pd.DataFrame(['Forth', 'Second', 'First', 'Fifth', 'Third'],
                            index = ['d', 'b', 'a', 'e', 'c'])
df

   numbers  values
a      100   First
b      150  Second
c      200   Third
d      250   Forth
e      300   Fifth

In [38]:
del df['values']

KeyError: 'values'

In [39]:
df_1 = pd.DataFrame(['1', '2', '3'], columns=['A'])
df_2 = pd.DataFrame(['4', '5', '6', '7'], columns=['B'])

df = df_1.join(df_2, how='outer')
df

     A  B
0    1  4
1    2  5
2    3  6
3  NaN  7

In [40]:
import pandas as pd
import numpy as np

df = pd.DataFrame(np.random.randn(5,5))
df.columns = ['A', 'B', 'C', 'D', 'E']

df

          A         B         C         D         E
0  0.503701  1.251700  0.328055  2.128714 -0.311935
1  0.394686 -1.211452 -0.217780 -0.634488 -3.269470
2 -0.232690  0.713981 -0.523922 -0.007228 -0.050800
3  0.330201 -1.916433  0.400988 -0.481378  0.707838
4  0.584004  0.253193  1.025418  1.193959 -0.687968

In [41]:
df.max()

A    0.584004
B    1.251700
C    1.025418
D    2.128714
E    0.707838
dtype: float64

In [42]:
df.min()

A   -0.232690
B   -1.916433
C   -0.523922
D   -0.634488
E   -3.269470
dtype: float64

In [43]:
df.mean()

A    0.315980
B   -0.181802
C    0.202552
D    0.439916
E   -0.722467
dtype: float64

In [44]:
df.std()

A    0.321913
B    1.333764
C    0.599308
D    1.185716
E    1.512767
dtype: float64

In [45]:
df.cumsum()

          A         B         C         D         E
0  0.503701  1.251700  0.328055  2.128714 -0.311935
1  0.898387  0.040248  0.110275  1.494226 -3.581405
2  0.665697  0.754229 -0.413647  1.486998 -3.632205
3  0.995898 -1.162204 -0.012659  1.005620 -2.924367
4  1.579901 -0.909011  1.012760  2.199579 -3.612335

In [46]:
df.describe()

              A         B         C         D         E
count  5.000000  5.000000  5.000000  5.000000  5.000000
mean   0.315980 -0.181802  0.202552  0.439916 -0.722467
std    0.321913  1.333764  0.599308  1.185716  1.512767
min   -0.232690 -1.916433 -0.523922 -0.634488 -3.269470
25%    0.330201 -1.211452 -0.217780 -0.481378 -0.687968
50%    0.394686  0.253193  0.328055 -0.007228 -0.311935
75%    0.503701  0.713981  0.400988  1.193959 -0.050800
max    0.584004  1.251700  1.025418  2.128714  0.707838

In [47]:
df['division'] = ['X', 'Y', 'X', 'Y', 'Z']
df

          A         B         C         D         E division
0  0.503701  1.251700  0.328055  2.128714 -0.311935        X
1  0.394686 -1.211452 -0.217780 -0.634488 -3.269470        Y
2 -0.232690  0.713981 -0.523922 -0.007228 -0.050800        X
3  0.330201 -1.916433  0.400988 -0.481378  0.707838        Y
4  0.584004  0.253193  1.025418  1.193959 -0.687968        Z

In [48]:
df.groupby(['division']).mean()

                 A         B         C         D         E
division
X         0.135505  0.982841 -0.097934  1.060743 -0.181367
Y         0.362443 -1.563943  0.091604 -0.557933 -1.280816
Z         0.584004  0.253193  1.025418  1.193959 -0.687968

In [49]:
num_list = [1,2,3,4,5]
for num in num_list:
    print(num)

1
2
3
4
5